<?xml version="1.0" encoding="utf-8"?> 
<connectionStrings>
  <add name="UserDBContext" connectionString="Data Source=WIN-KB83TGOQQQ5\MSSQLSERVER04;Initial Catalog=ferly_data;User Id=ferlytampan;Password=123fer" providerName="System.Data.SqlClient"/>
 <add name="IdentityDB" connectionString="Data Source=WIN-KB83TGOQQQ5\MSSQLSERVER04;Initial Catalog=ferly_auth;User Id=ferlytampan;Password=123fer" providerName="System.Data.SqlClient" /> 
 <add name="ErrLoggerDB" connectionString="Data Source=WIN-KB83TGOQQQ5\MSSQLSERVER04;Initial Catalog=ferly_auth;User Id=ferlytampan;Password=123fer" providerName="System.Data.SqlClient" />
  <add name="MongoDBData" connectionString="mongodb://localhost:27017/ardiansyahcode" />
</connectionStrings>
   